#root .MuiPaper-root {
  background-color: var(--back-color);
  text-align: center;
}

.MuiPaper-elevation1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  color: white;
  font-size: calc(10px + 2vmin);
}

#root .Root-container-1 {
  border-top-left-radius: .5rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 1vmax 1vmin var(--border-shadow);
  background-color: var(--white);
}

  @media screen and (min-width: 768px) {
    #root .MuiPaper-root {
      width: calc(76.39vw - 3rem - 1px);
    }

    .MuiPaper-elevation1 {
      max-height: calc(100vh - 9rem);
      padding-top: 6rem;
      padding-right: 3rem;
    }
  }

  @media screen and (max-width: 768px) {
    #root .MuiPaper-root {
      width: 100vw;
    }
}

/* component */